@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: #0b1216 linear-gradient(to bottom, #20292f 0, #0b1216 500px);
  height: 100vh;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}
.paginator{
  display: flex;
  width: fit-content;
}
.paginator li {
  width: 30px;
  height: 30px;
  margin: 5px;
  background: rgb(88,82,182);
  border: 1px solid rgb(2, 0, 27);
  display: flex;
  align-items: center;
  justify-content: center;
}
.paginator li.selected {
  color: bisque;
  border-color: burlywood;
}

